.banner__container{
    height: 100vh;
    background: url(../img/fondo__banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner__container::after{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.banner__cont-logo{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.80);
    height: 100%;
    top: 0;
    z-index: 1000;
    animation: mostrarContenedor 2s ease-in-out 1s both;
    
    
    
}

@keyframes mostrarContenedor {
    from {left: -100%;}
    to {left: 0;}
  }

.banner__titulo{
    font-size: 60px;
}

.banner__titulo span {
    font-size: 32px;
}

.video{
    
}
.video__parrafo{
    font-size: 22px;
    line-height: 40px;
}
.video__container{
    background-color: #0f1f29;
}

.video__row-caracteristicas{
    margin-top: 120px;
}

.video__cont-caracteristica{
    transition: border 500ms ease-in-out;
    border-bottom: 4px solid transparent;
}

.video__cont-caracteristica:hover{
    border-bottom: 4px solid #f2cf8d;
}
